# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.suo
*.user

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.log
bin/imgui.ini
*.db
*.opendb
*.exp
*.ilk
*.iobj
*.ipdb
*.pdb
*.tmp
*.tlog
*.idb
